<div [ngStyle] = "{
    'background': setting.fondo}">

    <h2>Bienvenido al {{ title }}</h2>
    <p>{{descripcion}}</p>
    <nav>
        <a [href]="['/']">Home</a>
        <a [href]="['/zapatillas']">Zapatillas</a>
        <a [href]="['/cursos']">Cursos/a>
        <a [href]="['/videojuego']">Videojuego</a>
    </nav>
<!--
    <button (click)="coverVideogames(false)"*ngIf="show_videogames">Ocultar</button>
    <button (click)="coverVideogames(true)"*ngIf="!show_videogames">Mostrar</button>
    <videojuego *ngIf="show_videogames"></videojuego>
-->
<!--<zapatillas></zapatillas>-->
    
<router-outlet></router-outlet>
</div>

